body {
	padding-top: 70px;
	padding-bottom: 30px;
	overflow-y: scroll;
}

p {
	margin: 0;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.code {
	font-family: Courier New;
}

.navbar-brand {
	font-family: 'Suez One', serif;
	font-size: 2em;
	letter-spacing: 0.03em;
}

#container {
	position: relative;
}

#errorbox {
	position: absolute;
	left: 50%;
	top: -5px;

	width: 500px;
	margin-left: -250px;

	display: none;
	font-family: monospace;

	font-size: 0.8em;
}

#graphics {
	width: 600px;
	height: 350px;
	margin: 15px auto;
	position: relative;

	background-image: url("../assets/base.png");
	background-size: 600px 350px;
	background-repeat: no-repeat;

	-moz-box-shadow:	inset 0 0 25px #000000;
	-webkit-box-shadow:	inset 0 0 25px #000000;
	box-shadow:			inset 0 0 25px #000000;

	border-radius: 25px;
}

#droparea {
	width: 110px;
	height: 110px;
	position: absolute;
	top: 129px;
	left: 56px;
	opacity: 0.2;
	border: 5px solid #EEE;
	border-radius: 15px;
	cursor: pointer;
}

#tooltip {
	opacity: 0.7;
	color: #EEE;
	font-weight: bold;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	bottom: 15px;
	text-align: center;
	cursor: default;
	font-family: sans-serif;
}

#file {
	visibility: hidden;
}

#settings {
	padding: 25px;
}

#settings h2 {
	margin: 0;

	float: left;
}

#settings h2 .time {
	font-size: 0.9em;
	color: #666;
	margin-left: 10px;
}

#settings #getbp {
	float: right;
}

.list-group {
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;

	margin: 0; 
	padding: 0;

	cursor: pointer;
}

.list-group-item:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
}

.list-group-item:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
}

.rangeinfo {
	font-size: 0.8em;
}

.rangeinfo.good {
	color: #00c700;
}

.rangeinfo.bad {
	color: #e00000;
}

.list-group-item.active .rangeinfo.good {
	color: #b1ffb1;
}

.list-group-item.active .rangeinfo.bad {
	color: #ff7474;
}

.list-group-item .channel {
	color: #666;
}

p.rangeinfo {
	text-indent: -15px;
	padding-left: 15px;
	margin: 7px 0;
}

.settingsPanel {
	margin-left: 0;
	padding: 20px;
	background-color: white;

	border: 1px solid rgb(221, 221, 221);
	border-left-width: 0;
	box-shadow: inset 5px 0 9px -6px;

	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.settingsPanel .info {
	color: #666;
}

.settingsPanel#instrumentinfo .info {
	margin-top: -7px;
}

.settingsPanel h3 {
	margin: 0 0 7px 0;
}

.settingsPanel .detailsText {
	padding-left:  30px;
	font-style: italic;
}

#notenum {
	margin: 7px 0;
}

.shiftText {
	font-family: monospace;
	font-weight: bold;
	padding: 0 8px;
}

#instrumentbind {
	padding: 7px 0;
}

select.form-control {
	display: inline;
	width: 150px;
}

/* ### Animations  */

#inserter {
	background: transparent url(../assets/inserter.png) 0 0 no-repeat;
	width: 184px;
	height: 150px;
	position: absolute;
	top: 55px;
	left: 84px;

	background-position-x: 100000px;
}

#assembler {
	background: transparent url(../assets/assembler.png) 0 0 no-repeat;
	width: 233px;
	height: 184px;
	position: absolute;
	top: 71px;
	left: 232px;

	background-position-x: 100000px; 
}

#insertertake {
	background: transparent url(../assets/insertertake.png) 0 0 no-repeat;
	width: 185px;
	height: 147px;
	position: absolute;
	top: 59px;
	left: 333px;

	background-position-x: 100000px;
}

/* ### Blueprint output */

#bpbox {
	width: 160px;
	top: 220px;
	left: 390px;
	padding: 5px;
	border-radius: 5px;
	display: table;
	position: relative;
	box-sizing: border-box;
	background-image: linear-gradient(to bottom, #6DA6C7 0, #1B71A3 100%);
	border-color: #124B6B;
	opacity: 0;
	display: none;
}

#bpoutput {
	font-family: monospace;
	color: #333;
	padding: 8px;
	padding-right: 0;
	height: 34px;
	width: 100%;
	display: table-cell;
	box-sizing: border-box;
	background-image: linear-gradient(to bottom, #A7D7F2 0, #E8F7FF 100%);
	border-color: #175E87;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#bpbox span {
	width: 1%;
	display: table-cell;
	box-sizing: border-box;
	vertical-align: middle;
}

#bpbox span button {
	margin-left: -1px;
	background-image: linear-gradient(to bottom, #A7D7F2 0, #E8F7FF 100%);
	border-color: #175E87;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	position: relative;
}

#bpbox span button img#clippy {
	position: relative;
}

#bpbox span button img#tick {
	position: relative;
	display: none;
}

/* ### About */

.about {
	text-align: center;
}

.about .logo {
	font-family: 'Suez One', serif;
}

.about p {
	font-size: 1.5em;
	margin: 35px 0 3px 0;
}

.about h3 {
	font-size: 1.8em;
	font-family: 'Suez One', serif;
	margin: 5px 0;
}

.about h3 a {
	color: #333;
}

.about .well {
	margin: 60px auto 0 auto;
	width: 400px;
	text-align: left;
	font-size: 1.1em;
	padding: 20px 30px;
	text-shadow: 0px 1px 0 rgb(255, 255, 255);
}

.about .well p {
	margin: 10px 0;
	font-size: 1em;
}

.about form {
	text-align: center;
}