.yarn/releases/* linguist-vendored
src/styles/factorio.css linguist-vendored
test-data/* linguist-vendored

yarn.lock linguist-generated
src/lib/data/* linguist-generated
tools/data/* linguist-generated
**/*.snap linguist-generated
