.yarn/releases/* linguist-vendored
app/factorio.css linguist-vendored
test-data/* linguist-vendored

yarn.lock linguist-generated
app/lib/data/* linguist-generated
tools/data/* linguist-generated
**/*.snap linguist-generated
