@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url(assets/background.png) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #252121;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.faq-section {
  @apply mb-8;
}

.faq-heading {
  @apply mb-4;
}

.faq-paragraph {
  @apply mb-4 last:mb-0;
}
